__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
env/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.git/
.gitignore
.DS_Store
models/__pycache__/
models/model/__pycache__/
models/config/__pycache__/
models/schema/__pycache__/
models/model/*.ipynb
*.ipynb
